body {background-color: #000 !important;}


.custom-input {
background-color: #333;
color: white !important;
border: 1px solid #555;
border-radius:0
}

.custom-input:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #333 !important;
    border: 1px solid #555 !important;
}
.custom-input::placeholder {
color: #aaa;
}


.login-button .btn{
width:100%
}

a{
text-decoration:none
}

.error-message{
color:red;
margin-top:10px;
text-align:center;
}